# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Learn to use the markdown cells
- Learn how to create tables in markdown format
- learn how to create a code cells

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java
4. SQL
5. Scala
6. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Matplotlib
3. Seaborn

| Data Science Tools |
| ------------------ |
| MySQL |
| MongoDB |
| Apache Spark |
| Github |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60

hours = 200/60
print (hours)

3.3333333333333335

## Author
Ricardo Escolar